body{
    background-image: url(https://thumbs.dreamstime.com/b/helsinki-finland-icepark-march-railway-station-square-located-next-central-railway-station-51601732.jpg);
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
    
  
}
.container{
    background: white;
    max-width: 80%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px ;

}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
}

button{
    margin: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background-color: #2C2891;

}
#save-btn{
    background-color: #1C7947;
}
#save-el{
    font-weight: bold;
}